.chat-main {
    height: 100%;
    width: 100%;
    display: grid;
    overflow: auto;
    position: relative;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 12% 1fr 12%;
}
.toolbar {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
}
.message-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.message {
    border-style: solid;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 75% 25%;
    font-size: 14px;
    height: 80px;
    border-radius: 20px;
    padding: 3%;
    margin-top: 4%;
}
.message0 {
    color: #4CAF50;
    border-color: #4CAF50;
    background-color: white;
}
.message1 {
    color: white;
    background-color: #4CAF50;
}
.avatar {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.name {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.content {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
}